//Fonts
<<<<<<< HEAD
$font-size-base: 18px
$font-base: Tahoma, "Times New Roman", "Bitstream Charter", Times, serif
=======
$font-size-base: 14px
$font-base: "HelveticaNeue",Helvetica,Arial,sans-serif
>>>>>>> 81f4ede8295b8d4de56ca2127e4b66468a5cade6

//Colors
$color-base: #000
$bg-base: #fff
<<<<<<< HEAD
$bg-color__header: #f7f7f7
$main-color-theme: #9dc808
$main-color-theme__cart: #dce9af
$color-text-base: #666666
$base-color-wrapp: #ccc
$color-bottom-items: #e7e7e7
$bg-footer: #f7f7f7
$color-del: #cc3333




=======
$color-text-base: #333
>>>>>>> 81f4ede8295b8d4de56ca2127e4b66468a5cade6

//Other
$base-size: 10px
$text-transform: uppercase
<<<<<<< HEAD
$margin_center: 0 auto
$sprite:  url(../images/sprite.png) no-repeat
=======
$margin_center: 0 auto
>>>>>>> 81f4ede8295b8d4de56ca2127e4b66468a5cade6
