//Fonts
$font-size-base: 18px
$font-base: Tahoma, "Times New Roman", "Bitstream Charter", Times, serif

//Colors
$color-base: #000
$bg-base: #fff
$bg-color__header: #f7f7f7
$main-color-theme: #9dc808
$main-color-theme__cart: #dce9af
$color-text-base: #666666
$base-color-wrapp: #ccc
$color-bottom-items: #e7e7e7
$bg-footer: #f7f7f7
$color-del: #cc3333





//Other
$base-size: 10px
$text-transform: uppercase
$margin_center: 0 auto
$sprite:  url(../images/sprite.png) no-repeat