body
  font-family: $font-base
  font-size: $font-size-base
  color: $color-text-base
  height: 100%
.wrap
  display: flex
  flex-direction: column
.main
  max-width: 1200px
  margin: $margin_center

.btn
  text-transform: $text-transform
  padding: 10px
  opacity: 0.7
  display: block
  float: left
  color: #000033
  margin-top: 10px
  background-color: $blog-color
  cursor: pointer
  +transition(all ease 1.5s)

//Header
.header
  padding: 10px 0
  .main
    +clearfix
.hedear-left
  float: left
  line-height: 52px
  .logo
    float: left
    margin-right: 15px
    height: 50px
  .navigation
    float: left
    ul
      +clearfix
      li
        float: left
        a
          text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5)
          font-size: 16px
          padding: 0 8px
          color: #333
          &:hover
            color: #9c6201
.hedaer-right
  float: right
  line-height: 52px
  .hedaer-right-phone
    float: right
  .hedaer-right-form
    float: right
    .location
      padding: 5px
      line-height: 18px
      background-color: #fff
      text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5)
      border: 2px solid rgba(254, 172, 30, 0.4)
  .hedaer-right-phone
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5)
    line-height: 16px
    width: 150px
    padding-top: 9px
    margin-left: 15px
//End Header

//Banner
.banner
  background: url("../images/banner-home.png") no-repeat center
  background-size: cover
.banner-wrap
  min-height: 600px
  flex-flow: row wrap
  +flexbox
  +flex-direction(column)
  justify-content: center
.banner-title
  text-align: center
  font-size: 36px
  color: #fff
  text-transform: $text-transform
  font-weight: 500
  margin-bottom: 50px
  span
    padding: 5px
    border: 2px solid #fff
.banner-text
  text-align: center
  font-size: 36px
  line-height: 2
  color: #fff
  text-transform: $text-transform
  span
    color: #feaa1e
//End Banner

//Work
.work
  padding: 30px 0
.main-title
  text-align: center
  text-transform: $text-transform
  font-size: 22px
  line-height: 24px
  margin-bottom: 40px
  font-weight: 700
.work-block-row
  flex-flow: row wrap
  +flexbox
.work-block-item
  flex: 1
  text-align: center
.work-block-item__title
  font-size: 16px
  line-height: 18px
  font-weight: 700
  text-transform: $text-transform
  margin: 10px auto 5px
  width: 250px
.work-block-item__text
  width: 250px
  margin: 0 auto 20px
  line-height: 18px
//End Work

//Trust
.trust
  background-color: #e5e8ea
  padding: 30px 0
.trust-block-row
  flex-flow: row wrap
  +flexbox
  .trust-block-item
    height: 180px
    flex: 1
    margin: 5px
    border: 2px solid #fff
    background-color: #d7dbde
    +transition(all ease 1.5s)
    +flexbox
    justify-content: center
    align-items: center
    &:hover
      background-color: #adb5bb
    img
      display: block
      width: 100%
      height: 100%
//End Trust

//Technology
.technology
  padding: 30px 0
  background: url("../images/technology-bg.png") no-repeat center
  background-size: cover
  .main-title
    color: #fff
.technology-block
  flex-flow: row wrap
  +flexbox
.technology-block-item
  flex: 1
.technology-block-item__title
  width: 220px
  margin: 0 auto 30px
  background-color: #fec76a
  padding: 15px
  text-transform: $text-transform
  text-align: center
.technology-block-item__image
  width: 220px
  height: 100px
  margin: 5px auto
  background-color: #fff
  padding: 15px
  img
    width: 100%
    height: 100%
.google-partner-block
  display: block
  width: 50%
  margin: 30px auto 0
  padding: 14px 10px
  background-color: #d6d6d6
  flex-flow: row wrap
  +flexbox
.google-partner-text
  flex: 2
  text-transform: $text-transform
  font-size: 12px
  line-height: 16px
  color: #525252
  .google-partner-text__title
    font-weight: 700
.google-partner-triangle
  flex: 1
  .triangle
    display: inline-block
    margin-left: 20%
    border-style: solid
    border-width: 37px 0 37px 50px
    border-color: transparent transparent transparent #ffffff
.google-partner-img
  flex: 2
  img
    width: 100%
    height: 100%
//End Technology

//Service
.service
  padding: 30px 0
  background-color: #e5e8ea
.service-block-row
  width: 70%
  margin: 0 auto
  flex-flow: row wrap
  +flexbox
.service-block-item
  display: block
  flex: 1
  min-height: 180px
  background-color: #adb5bb
  border: 2px solid #fff
  margin: 5px
  padding: 5px
  +transition(all ease 1.5s)
  &:hover
    background-color: #919ca4
    .service-block-item__name
      color: #fff
.service-block-item__image
  height: 152px
  justify-content: center
  align-items: center
  +flexbox
.service-block-item__name
  color: #555f67
  font-size: 10px
  line-height: 14px
  font-weight: 700
  text-align: center
  text-transform: $text-transform
  padding: 0 15px
// .service-block-item:hover
//   background-color: #919ca4
//   .service-block-item__name
//     color: #fff
//End Service

//Seo
.seo
  padding: 30px 0
.seo-text
  width: 70%
  margin: 0 auto
  text-align: justify
  line-height: 18px
.seo-toggle
  text-align: center
  margin-top: 30px
.seo-toggle__arrow
  display: inline-block
  width: 50px
  line-height: 50px
  font-size: 50px
  color: #555f67
  border: 1px solid #555f67
  +border-radius(25px)
  &:hover
    color: #fff
    background-color: #555f67
    cursor: pointer
//End Seo

//Footer
.footer
  background: url("../images/footer-bg.png") no-repeat center
  background-size: cover
  padding: 30px 0
  +clearfix
.footer-block-left
  float: left
  color: #fff
  li
    line-height: 38px
    margin-bottom: 10px
    img
      float: left
      margin-right: 20px
.footer-block-right
  float: right
.footer-block-socials
  text-align: center
  a
    font-size: 50px
    color: #fff
    margin: 0 10px
.footer-block__info
  font-size: 16px
  line-height: 20px
  color: #fff
  font-weight: 700
  text-transform: $text-transform
  text-align: center
  margin-top: 30px

//End Footer

//Page SERVICES!!!
.services-wrap
  +clearfix
  .services-title
    text-transform: $text-transform
    color: $color-title
    font-size: 18px
.services-flex-wrap
  display: flex
  flex-direction: row
  margin: 10px 0
.services-item
  padding: 10px
  margin: 0 15px
  flex: 1
  text-align: center
  background-color: $bg-service-item
  +transition(all ease 1.5s)
  +box-sizing(border-box)
  &:hover
    background-color: $bg-service-item_hover
  &:hover .services-item__link
    color: $bg-base
  img
    display: block
    margin: 20px auto
  .services-item__link
    color: #5e6972
    text-transform: $text-transform
    font-size: 13px
    +transition(all ease 1.5s)
//End Page SERVICES!!!

//Page BLOG
.blog-nav
  ul
    +clearfix
    li
      float: left
      margin: 0 10px
  a
    display: block
    border: 1px solid $blog-color
    color: #000
    padding: 10px 20px
    +transition(all ease 1.5s)
    &:hover
      background-color: $blog-color
      color: $bg-base
.blog-page-flex-wrap
  display: flex
  flex-direction: column
.blog-item
  flex: 1
  border: 2px solid #ccc
  padding: 20px
  margin: 20px 0
  +box-sizing(border-box)
  +clearfix
.blog-item__left
  float: left
  ol
    margin-left: 20px
  .blog-item__left-title
    text-transform: $text-transform
    margin-bottom: 20px
  .btn
    &:hover
      opacity: 1
      padding: 10px
      margin-top: 10px

.blog-item__right
  float: right
//End Page Blog

////Page Fast site
//Sub header
.sub_header
  background-color: #edeef0
  padding: 30px 0
.sub_header-block
  color: #6e6e6e
  font-weight: 700
  text-transform: $text-transform
  border: 2px solid #fff
  flex-flow: row wrap
  +flexbox
.sub_header-item
  flex: 1
  padding: 5px
  flex-flow: row wrap
  justify-content: center
  align-items: center
  +flexbox
  img
    margin-right: 20px
//End Sub header
//Form-block
.form-block
  background-color: #edeef0
  padding: 30px 0
.form-block-wrapper
  flex-flow: row wrap
  +flexbox
.form-block-image
  flex: 2
  margin-right: 15px
  img
    width: 100%
    height: 100%
.form-block-item
  flex: 1
.form-block-item__input
  display: block
  width: 100%
  padding: 10px
  background-color: #fff
  text-transform: $text-transform
  font-size: 18px
  line-height: 22px
  margin-bottom: 20px
  font-weight: 700
  +box-sizing(border-box)
.form-block-item__comment
  display: block
  width: 100%
  height: 305px
  background-color: #fff
  padding: 10px
  border: 0
  font-size: 18px
  line-height: 22px
  color: #404040
  margin-bottom: 20px
  font-weight: 700
  +box-sizing(border-box)
.btn
  display: block
  width: 100%
  padding: 8px
  background-color: #fec76a
  text-transform: $text-transform
  font-size: 16px
  line-height: 16px
  color: #404040
  font-weight: 700
  +transition(all ease 1.5s)
  &:hover
    background-color: #FEAA1E
//End Form-block

//We_do
.we_do
  background-color: #edeef0
  padding: 30px 0
  .main-title
    font-size: 30px
    line-height: 34px
    margin-bottom: 30px
.we_do-block
  padding: 100px 0
  flex-flow: row wrap
  +flexbox
.we_do-item
  flex: 1
  justify-content: center
  align-items: center
  height: 192px
  min-width: 192px
  margin: 20px
  position: relative
  +flexbox
.bg-item1  
  background: url('../images/fast_site-do-img_1.png') no-repeat center
  &::before
    content: ''
    width: 320px
    height: 2px
    background-color: #d7dbde
    position: absolute
    top: -80px
    right: -220px
    +transform(rotate(-22deg))
  &::after
    content: ''
    width: 142px
    height: 33px
    background: url('../images/arrow-we_do.png') no-repeat center
    position: absolute
    bottom: -30px
    right: -85px
.bg-item2  
  background: url('../images/fast_site-do-img_2.png') no-repeat center
  &::before
    content: ''
    width: 140px
    height: 2px
    background-color: #d7dbde
    position: absolute
    top: -80px
    right: 0
    +transform(rotate(-50deg))
  &::after
    content: ''
    width: 142px
    height: 33px
    background: url('../images/arrow-we_do.png') no-repeat center
    position: absolute
    bottom: -30px
    right: -85px
.bg-item3  
  background: url('../images/fast_site-do-img_3.png') no-repeat center
  &::before
    content: ''
    width: 140px
    height: 2px
    background-color: #d7dbde
    position: absolute
    top: -80px
    left: 0
    +transform(rotate(50deg))
  &::after
    content: ''
    width: 142px
    height: 33px
    background: url('../images/arrow-we_do.png') no-repeat center
    position: absolute
    bottom: -30px
    right: -85px
.bg-item4  
  background: url('../images/fast_site-do-img_4.png') no-repeat center
  &::before
    content: ''
    width: 320px
    height: 2px
    background-color: #d7dbde
    position: absolute
    top: -80px
    left: -220px
    +transform(rotate(22deg))
.we_do-item__info
  width: 130px
  color: #fff
  text-transform: $text-transform
  font-weight: 600
  text-align: center
//End we_do

//You get
.you_get
  background: url("../images/fast_site-you_get-bg.png") no-repeat center
  background-size: cover
  padding: 30px
  background-color: #edeef0
  .main-title
    font-size: 30px
    line-height: 34px
    margin-bottom: 30px
    color: #fff
.you_get-block
  flex-flow: column wrap
  +flexbox
.you_get-row
  flex-flow: row wrap
  +flexbox
.you_get-item
  flex: 1
  margin: 10px
.you_get-circle
  width: 220px
  height: 220px
  margin: 0 auto
  background-color: rgba(215, 219, 222, 0.5)
  flex-flow: column wrap
  justify-content: flex-start
  align-items: center
  +flexbox
  +border-radius(50%)
.you_get-circle__image
  margin: 30px 0 5px
.you_get-circle__info
  width: 200px
  color: #fff
  text-transform: $text-transform
  line-height: 1.4
  text-align: center
.you_get-border
  margin: 0 auto
  width: 218px
  height: 218px
  border: 2px solid #fff
  flex-flow: column wrap
  justify-content: center
  align-items: center
  +flexbox
  .btn
    width: 100px
  .you_get-circle__info
    margin-bottom: 5px
//End you get

//Projects
.projects
  padding: 30px 0
  .main-title
    font-size: 30px
    line-height: 34px
    margin-bottom: 40px
.projects-block
  width: 950px
  margin: 0 auto
  border: 3px solid #D7DBDE
  padding: 30px
  flex-flow: row wrap
  +flexbox
.projects-image
  flex: 1
.projects-image-wrap
  margin: 0 auto
  width: 416px
  height: 416px
  border: 2px solid #D7DBDE
  overflow: hidden
  +border-radius(50%)
.projects-info
  flex: 1
.projects-parametr
  color: #adb5bb
  font-size: 18px
  line-height: 20px
  text-transform: uppercase
.projects-title
  font-size: 20px
  line-height: 24px
  text-transform: uppercase
  margin-bottom: 30px
.projects-text
  margin-bottom: 30px
  margin-left: 30px
  font-size: 16px
  line-height: 18px
.projects-btn
  +clearfix
  .btn
    float: right
    width: 200px
.project-slider + .lSAction > a
  background: url('../images/controls.png') no-repeat center
  width: 50px
  height: 80px
  margin-top: -40px
.project-slider + .lSAction > .lSPrev
  background-position: 0 0
.project-slider + .lSAction > .lSNext
  background-position: -50px 0
//End projects
////End Page Fast site

////Page Landing
.sub_header__title
  width: 215px
  line-height: 20px

.section-seo-text
  padding: 30px 0
  .main-title
    color: #576169
    font-weight: 600
////End Page Landing